
p {
width: 300px;
font-family: Arial;
}

.video-preview {
display: inline-block;
width: 300px;
vertical-align: top;
margin-right: 15px;
}

.thumbnail {
object-fit: contain;
object-position: center;
width: 300px;
display: block;
}

.video-title {
font-weight: bold;
font-size: 13px;
}

.video-author, .video-stats {
color: gray;
font-size: 12px;
}

.search-bar {
display: block;
}
