p {
width: 300px;
font-family: Arial;
}

.thumbnail {
object-fit: contain;
object-position: center;
width: 300px;
display: block;
}

.video-title {
font-weight: bold;
font-size: 13px;
}

.video-author, .video-stats {
color: gray;
font-size: 12px;
}
