body {
    font-family: system-ui;
    padding-top: 40px;
    height: 2000px;
    padding-top: 180px;
    padding-left: 173px;
}

.main-container {
    background-color: white;

}

button {
    border: none;
    cursor: pointer;
}

