.info-header {
    background-color: lightblue;
    position: fixed;
    right: 0;
    left: 0;
    padding: 5px 25px 5px 25px;
}

.info-header,
.left-side,
.right-side,
.right-side div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-side {
    width: 200px;
}

.right-side {
    width: 250px;
}

.right-side .notification {
    margin-right: 5px;
}

.notification {
    color: white;
    font-weight: bold;
    font-size: 14px;
    background-color: red;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    max-width: 40px;
    min-width: 20px;
    border: none;
}
