.main-header {
    background-color: rgb(191, 191, 209);
    position: fixed;
    right: 0;
    left: 0;
    top: 30px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
}

.add-task {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-task div {
    margin-right: 20px;
}

.sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort div {
    margin-right: 20px;
}

.input-container {
    display: flex;
    flex: 1;
}

.text-input {
    width: 0;
    flex: 1;
    height: 40px;
}

.add-button {
    border: none;
}

