
.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
    
    .logo {
    height: 22px;
    width: 110px;
    }
    
    .hamburger {
    height: 36px;
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
    }

    .microphone-icon {
        width: 20px;
        height: 20px;
        border: none;
        background-color: rgb(238, 237, 237);
        
    }
    
    .search {
    border-color: rgb(189, 182, 182);
    border-width: 1px;
    border-style: solid;
    background-color: rgb(238, 237, 237);
    height: 40px;
    margin-left: -1px;
    padding-right: 20px;
    padding-left: 20px;
    width: 66px;

    }

    .search-bar {
        flex: 1;
        height: 36px;
        font-size: 16px;
        padding-left: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(189, 182, 182);
        border-radius: 2px;
        box-shadow: inset 1px 2px 3px rgba(0, 0, 10, 0.05);
    }

    .search-bar::placeholder {
        font-family: Roboto, Arial;
        font-size: 16px;

    }
    

    .microphone {
        border: none;
        height: 40px;
        width: 40px;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 20px;
    }
    
    .search-icon {
    width: 20px;
    height: 20px;
    }
    
    .left-section {
    display: flex;
    align-items: center;
    }
    
    .middle-section {
    display: flex;   
    flex: 1; 
    align-items: center;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;

    }
    
    .right-section {
    background-color: lightblue;
    width: 200px;
    }