
.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 219, 219);
    z-index: 100;
}
    
    .logo {
    	height: 22px;
    	width: 110px;
    }
    
    .hamburger {
    	height: 36px;
    	width: 30px;
    	margin-left: 20px;
    	margin-right: 20px;
    }

    .microphone-icon {
        width: 20px;
        height: 20px;
        border: none;
        background-color: rgb(238, 237, 237);
        
    }
    
    .search {
    	border-color: rgb(189, 182, 182);
    	border-width: 1px;
    	border-style: solid;
    	background-color: rgb(238, 237, 237);
    	height: 39px;
    	margin-left: -1px;
    	padding-right: 20px;
    	padding-left: 20px;
    	width: 66px;
        position: relative;
        cursor: pointer;

    }

    .search-bar {
        flex: 1;
        height: 36px;
        font-size: 16px;
        padding-left: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(189, 182, 182);
        border-radius: 2px;
        box-shadow: inset 1px 2px 3px rgba(0, 0, 10, 0.05);
	width: 0;
    }

    .search-bar::placeholder {
        font-family: Roboto, Arial;
        font-size: 16px;

    }
    

    .microphone,
    .search,
    .create-button,
    .dots-button {
        border: none;
        height: 40px;
        width: 40px;
        border-radius: 20px;
	margin-left: 15px;
	margin-top: 1px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    .search-icon {
    	width: 20px;
    	height: 20px;
    }
    
    .left-section {
    	display: flex;
    	align-items: center;
    }
    
    .middle-section {  
        display: flex; 
    	flex: 1; 
    	align-items: center;
    	margin-left: 70px;
    	margin-right: 35px;
    	max-width: 500px;

    }
    
    .right-section {
    	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 190px;
	align-items: center;
	margin-right: 15px;
	flex-shrink: 0;
    }
    
      .profile-image-button {
	width: 40px;
	height: 40px;
	background-color: rgb(189 182 182 / 15%);
	border-radius: 20px;
	border: none;
     }

     .create-icon {
	width: 20px;
	height: 15px;
	background-color: white;
    }

     .dots-icon {
	width: 20px;
	height: 20px;
    }

      .notification-icon {
	width: 25px;
	height: 25px;
	background-color: white;
     }

     .notification-button-container {
        position: relative;
     }

     .number-icon {
        position: absolute;
        right: -1px;
        top: 0;
        background-color: rgb(143, 12, 12);
        color: white;
        border-radius: 10px;
        font-size: 11px;
        font-family: Roboto, Arial;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;

     }
    

      .profile-image-icon {
	width: 22px;
	height: 22px;
     }

     .search div,
     .microphone div,
     .create-button div,
     .dots-button div {
        position: absolute;
        bottom: -44px;
        background-color: gray;
        color: white;
        font-family: Roboto, Arial;
        border-radius: 4px;
        padding: 5px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.20s;
        pointer-events: none;
        white-space: nowrap;
        
     }


     .search:hover div,
     .microphone:hover div,
     .create-button:hover div,
     .dots-button:hover div {
        opacity: 1;
     }

    

    
     
