
.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(222, 219, 219);
    }
    
    .logo {
    	height: 22px;
    	width: 110px;
    }
    
    .hamburger {
    	height: 36px;
    	width: 30px;
    	margin-left: 20px;
    	margin-right: 20px;
    }

    .microphone-icon {
        width: 20px;
        height: 20px;
        border: none;
        background-color: rgb(238, 237, 237);
        
    }
    
    .search {
    	border-color: rgb(189, 182, 182);
    	border-width: 1px;
    	border-style: solid;
    	background-color: rgb(238, 237, 237);
    	height: 39px;
    	margin-left: -1px;
    	padding-right: 20px;
    	padding-left: 20px;
    	width: 66px;

    }

    .search-bar {
        flex: 1;
        height: 36px;
        font-size: 16px;
        padding-left: 10px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(189, 182, 182);
        border-radius: 2px;
        box-shadow: inset 1px 2px 3px rgba(0, 0, 10, 0.05);
	width: 0;
    }

    .search-bar::placeholder {
        font-family: Roboto, Arial;
        font-size: 16px;

    }
    

    .microphone {
        border: none;
        height: 40px;
        width: 40px;
        border-radius: 20px;
	margin-left: 15px;
	margin-top: 1px;

    }
    
    .search-icon {
    	width: 20px;
    	height: 20px;
    	margin-top: 4px;
    }
    
    .left-section {
    	display: flex;
    	align-items: center;
    }
    
    .middle-section {
    	display: flex;   
    	flex: 1; 
    	align-items: center;
    	margin-left: 70px;
    	margin-right: 35px;
    	max-width: 500px;

    }
    
    .right-section {
    	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 190px;
	align-items: center;
	margin-right: 15px;
	flex-shrink: 0;
    }


     .create-button {
	width: 40px;
	height: 40px;
	background-color: white;
	border: none;
    }

     .dots-button {
	width: 40px;
	height: 40px;
	background-color: white;
	border: none;
    }

      .notification-button {
	width: 40px;
	height: 40px;
	background-color: white;
	border: none;
     }
    

      .profile-image-button {
	width: 40px;
	height: 40px;
	background-color: rgb(189 182 182 / 15%);
	border-radius: 20px;
	border: none;
     }

     .create-icon {
	width: 20px;
	height: 15px;
	background-color: white;
    }

     .dots-icon {
	width: 20px;
	height: 20px;
    }

      .notification-icon {
	width: 20px;
	height: 20px;
	background-color: white;
     }
    

      .profile-image-icon {
	width: 22px;
	height: 22px;
     }
